<h2>轉換 PDF</h2>

<form method="post" target="_blank" action="@Url.Action("Pdf")">
    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
                <label for="Html">Html</label>
                <textarea class="form-control" rows="5" name="Html"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
    </div>
</form>